.overlay{
    background-color: rgba(0, 0, 0, 0.8);
    height:100vh;
    width:100vw;
    z-index:1;
    position: fixed;
    top:0;
    left:0;
   /* display:none;*/
}
.add-project-modal{
    /*display:none;*/
    position: absolute;
    top:23vh;
    left:35vw;
    width:600px;
    height:455px;
    padding:20px;
    z-index: 2;
    /*background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);*/
    border-radius:25px;
    background-color: #161616;
    /*box-shadow: 8px 8px 5px rgba(255,255,255,0.2); */
    overflow: scroll;
    overflow-x: scroll;
    padding-bottom:50px;
}