#projects-list,.scroll{
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;
}
#projects-list::-webkit-scrollbar,.scroll::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
#projects-list{
   
    max-height:650px;
}