#task-name-info-div{
/*resize: none;
white-space: nowrap;*/
min-height: 40px;
padding:10px;
width:100%;
background:transparent;
border:none;
color:white;
font-size: 20px;
font-weight: bold;
resize: none;
border-radius: 10px;
}
#task-name-info-div:hover{
    background:black;
    border:none;
}
#task-name-info-div:focus{
    outline:none;
}
.date-time2-info-div input{
    background:transparent;
    width:70%;
    padding:10px;
    border-radius: 5px;
    margin:10px;
    color:white;
    border:1px solid whitesmoke;
}
.date-time2-info-div{
    color:white;
    margin:10px;
    margin-top:40px;
}
.date-time2-info-div input::-webkit-calendar-picker-indicator { background-color:white; }


#select-project-info-div select{
    padding:10px;
    margin:50px;
    width:80%;
    background:transparent;
    color:whitesmoke;
    border:1px solid whitesmoke;
    border-radius: 5px;
}
select-project-info-div option{
    background-color:#161616;
    color:whitesmoke;
}
select-project-info-div select:focus{
    outline: none;
}
.task-info-div-wrapper{
    display:flex;
    flex-direction: column;
    row-gap :20px;
    
}
.button-wrapper{
    width:100%;
    display: flex;
    justify-content: center;
}
.button-wrapper button{
    background:transparent;
    color: #ff001f;
    border:none;
    margin-bottom:30px;
}
#info-div-notes{
    min-height: 180px;
}
#task-info-div,.scroll{
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;
}
#task-info-div::-webkit-scrollbar,.scroll::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.priority{
    width:100%;
    display:flex;
    row-gap: 20px;
    color:white;
    font-weight: bold;
    align-items: center;
    flex-direction: column;
}
.priority button{
    padding:8px 25px;
    width:110px;
    border-radius:5px;
    background:transparent;
}
#high{
 border:1px solid#00e5ff;
 color:#00e5ff;   
}
#medium{
    border:1px solid #7e57c2;
    color:#7e57c2;
}
#low{
    border:1px solid #f44336;
    color:#f44336;
}
.priority-inner-wrap{
    display:flex;
    column-gap: 15px;
}
